# Default ignored files
/shelf/
/workspace.xml
\.idea/
.
.vscode/
venv/*
*.venv
**/__pycache__/*
.build/
*.egg-info/
Lib/
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64